
    
  .about{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  * {
    margin:0;
    padding:0;
    font-family: 'Arvo';
  }
  
  body{
    background-color: #050505;
  }
  
  .main{
    height:100vh;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  h1{
    text-align:center;
    text-transform: uppercase;
    color: #fffcfc; 
    font-size: 4rem;
  }
  
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #e08bbe;
  }
  
  
  #spare-time{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #A8DADC;
    
  }
  
  .roller #text {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 600px){
    h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 2.125rem;
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    
    .roller #text {  
    animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }

  h2{
    color:#fffcfc;
  }

  h5{
    color:#F1FAEE ;
  }

  p{
    color:#F1FAEE ;
 
  }
  
  label{
    color:#F1FAEE ;
 
  }

  #send{
    background-color:#a61daf ;

  }

 #homePIC{
height: 50rem;
width: 50rem;
 }
 router-link{
  color: #eadfdf;
 }
 img{
  height: 100%;
  width: 100%;
  }
  
  .parentContainer {
  position: relative;
  text-align: center;
  color: white;
  }
  
  .bottom-left {
  position: absolute;
  bottom: 10px;
  left: 15px;
  }
  
  .top-left {
  position: absolute;
  top: 10px;
  left: 15px;
  }
  
  .top-right {
  position: absolute;
  top: 10px;
  right: 15px;
  }
  
  .bottom-right {
  position: absolute;
  bottom: 10px;
  right: 15px;
  }
  
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  }

#Lee{
  width: 7rem;
}


footer{
  color: white;
}